.Image {
  img {
    border-radius: 3px;

    margin-top: 32px;
    margin-bottom: 8px;

    min-width: 200px;
    min-height: 200px;

    background-color: rgb(227, 227, 227);
  }
  div {
    margin-top: 8px;
    margin-bottom: 16px;
  }
}
